*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #d5d7da;
}
.navbar{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 1rem 3rem;
    background:#636c79;
}
.logo{
    width:100px;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link{
    margin-right: 2rem;
}
.link > a:hover{
    color:#fff;
}

.talk-btn{
    background: transparent;
    padding: 5px 1.5rem;
    color: #ffffff;
    border: 1px solid #7d8188;
    margin-left: 4rem;
}
.hero-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 2rem 5rem;
    background:#636c79;
}
.hero-details{
    padding-right: 4rem;
}
.hero-img{
    width: 400px;
    height: 450px;
    overflow: hidden;
}
.hero-img > img{
    width: 100%;
    height: 100%;
    transform: scale(1.3);
}
.hero-details > h1{
    font-size: 60px;
    margin-bottom: 2rem;
    color: #fffefe;
}
.hero-details > p{
    font-size: 16px;
    color: #c1c5ca;
    margin-bottom: 3rem;
}
.email-container{
    width: 100%;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.email-container > button{
    padding: 8px 2rem;
    font-size: 15px;
    white-space: nowrap;
    margin-left: 1rem;
    background: #8bb7a2;
    border: none;
    color: #ffffff;
}
.email-container .fa-solid{
    margin-left: 1rem;
}
.email-container > input{
    width: 100%;
    border:none;
    margin-left: 1rem;
}
.email-container > input::placeholder{
    color: #b3b4b5;
}
.email-container > input:focus{
    outline: none;
}
.accomplished-container{
    text-align: center;
    padding: 2rem 5rem;
}
.accomplished-container > h1{
    font-size: 45px;
    margin-bottom: 2rem;
    color: #1f2125;
}
.complete-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    padding: 0rem 3rem;
}
.complete-container h3{
    font-size: 30px;
    margin-bottom: 1rem;
}
.complete-container p{
    color: #525252;
    font-size: 18px;
}
.accomplished-img{
    width: 100%;
    height: 500px;
    background: url("./images/pexels-fauxels-3184325.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.care-easy-container{
    text-align: center;
    padding: 2rem 5rem;
}
.care-easy-container > h1{
    font-size: 50px;
    margin-bottom: 2rem
}
.care-container{
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    gap: 1rem;
    padding:1rem 0rem;
}
.reverse{
    grid-template-columns: 0.5fr 1fr;
}
.care-img{
    background: url(./images/pexels-fauxels-3184405.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    width: 450px;
    height: 450px;
}
.care-img2{
    background: url(./images/pexels-fauxels-3184603.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 450px;
    padding: 1rem 3rem;
}
.care-img3{
    background: url(./images/pexels-linkedin-sales-navigator-2182969.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 450px;
    height: 500px;
}
.care-details{
    margin: auto;
    text-align: left;
}
.reverse .care-details{
    padding: 1rem 0rem;
}
.care-details > h3{
    font-size: 45px;
    margin-bottom: 1rem;
    color: #1b1d21;
}
.care-details > p{
    font-size: 18px;
    color: #535558;
    margin-bottom: 2rem;
}
.btn{
    font-size: 16px;
    background: #8bb7a2;
    padding: 1rem 3rem;
    border: none;
    color: #ffffff;
    cursor: pointer;
}
.teams-container{
    padding: 1rem 5rem;
    margin-top: 2rem;
}
.team-header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem 0rem;
}
.team-header > h1{
    font-size: 40px;
    color: #1b1d21;
    padding-left: 1rem;
}
.team-header > p{
    font-size: 18px;
    color: #646568;
}
.team-members{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}
.member{
    padding: 1rem;
    text-align: left;
}
.member > img{
    width: 100%;
    margin-bottom: 1rem;
}
.member > h3{
    font-size: 30px;
    margin-bottom: 1rem;
    color:#1a1c20;
}
.member > p{
    font-size: 18px;
    margin-bottom: 1rem;
    color: #727476;
}
.btn-container{
    text-align: center;
}

.footer{
    padding: 1rem 5rem;
    background:#10181d;
}
.logo-container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 1rem;
    border-bottom:1px solid #222a2f;
    padding-bottom: 2rem;
}

.links-container{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
}
.social-icons{
    display: flex;
}
.fa-brands{
    font-size:16px;
    color:#fff;
}
.icon-container{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border:none;
    background:#282f34;
    display:flex;
    justify-content:center;
    align-items: center; 
    margin-right: 1rem;   
}
.links-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
    margin-top: 2rem;
}
.links-container h3{
    color:#ffffff;
    font-size:18px;
    margin-bottom: 1rem;
}
.flink{
    margin-bottom: 1rem;
}
.flink a{
    color:#9fa2a4;
    font-size: 16px;
}

/* Media Queries */
@media screen and (max-width:1022px) {
    .hero-container, .accomplished-container, .care-easy-container,.teams-container, .footer{
        padding: 2rem 3rem;
    }
}
@media screen and (max-width:945px) {
    .hero-container{
        grid-template-columns: 1fr;
        text-align: center;

    }
    .hero-details{
        padding-right: 0rem;
    }
    .hero-img{
        margin:auto;
    }
    .care-container{
        grid-template-columns: 1fr;
    }
    .care-details{
        text-align: center;
    }
    .care-img, .care-img2, .care-img3{
        margin:auto;
    }
    .reverse{
        display: flex;
    flex-direction: column-reverse;
    }
    .team-members{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width:770px) {
    .links-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width:886px) {
    .navbar{
        overflow-x: scroll;
    }
    .nav-links{
        margin-left: 1rem;
        white-space: nowrap
    }
}
@media screen and (max-width:600px) {
    .care-img2, .care-img, .care-img3{
        width:100%;
        padding: 1rem;
    }
    .team-header{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .team-members{
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width:550px) {
    .logo-container{
        flex-direction: column;
    }
    .social-icons{
        margin-top: 1rem;
    }
    .links-container{
        grid-template-columns: 1fr;
        text-align: center;
    }
    
}